.loginBg{
    width: 100%;
    height: 100vh;
    min-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginFormCon{
    width: 50%;
    height: 50%;
    border: 0.5px solid black;
}

.loginFormCon>form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.loginFormCon>form>input{
    width: 70%;
    height: 13%;
    padding: 12px;
}
.loginFormCon>form>button{
    width: 76%;
    height: 14%;

}
