*{margin: 0;}

html, body{
    width: 100%;
    scroll-behavior: smooth;
    background-color: white;
}

header{width: 100%; height: auto; display: flex; justify-content: space-between;}
.loginBtn{
    display: flex;
    align-items: center;
}
.loginBtn>a{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    margin: 12px;
    background-color: tomato;
    border-radius: 50px;
}
.loginBtn>a:hover{
    background-color: rgb(255, 67, 34, 0.5);
}
